/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
    
}

body{
    background-color: #254252;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
  display: flex;
}

.btn-contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: #E37239;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

.btn-contato button:hover{
  box-shadow: 0px 0px 8px #e372397b;
}

h2.titulo{
  color: #FFFF;
  font-size: 38px;
  text-align: center;
}

h2.titulo span{
  color: #E37239;
}

button:hover, form .btn-enviar input:hover{
  box-shadow: 0px 0px 0px #E37239;
  transform: scale(1.10);
}

/* ESTILO DO CABEÇARIO */

header{
    padding: 40px 4%;  
    background-color: #131C2d;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    color: #e3723993;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

header a:hover{
    color: #E37239;
    transform: scale(1.15);
    transition: .2s;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}

.logo   img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.btn-contato button:hover{
  box-shadow: 0px 0px 8px ;
  transform: scale(1.1);
  transition: .2s;
}

/*ESTILO TOPO DO SITE*/

section.topo-do-site{
  padding: 40px 4%;
}

section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.topo-do-site h1{
  color: #FFFF;
  font-size: 50px;
  margin-top: 100px;
}

.topo-do-site .txt-topo-site p{
  color: #FFFF;
  margin: 10px 0;
  font-size: 20px;
}

.topo-do-site .img-topo-site img{
  max-width:2000px;
  max-height:1050px;
  width: auto;
  height: auto;
}

.topo-do-site .img-topo-site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
  0%{
      top:0;
  }
  100%{
    top:30px;
  }
}

/*FORMAÇÕES*/
section.Formações{
  padding: 40px 4%;
  margin-top: 130px;
}

section.Formações .flex{
  gap:60px
}

.Formações .formacoes-box{
  color: #FFFF;
  padding: 40px;
  border-radius: 20px;
  margin-top: 30px;
  transition: .2s;
}

.Formações .formacoes-box h3{
  font-size: 28px;
  margin-bottom: 15px;
  color: #E37239;
}
.Formações .formacoes-box p{
  font-size: 17px;
}

.Formações .formacoes-box:hover{
  transform: scale(1.10);
  box-shadow: 0 0 8px #171c2d;
}

/*SOBRE MIM*/

section.sobre{
  padding: 80px 4%;
}

section.sobre .flex{
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre{
  color: #FFFF;
}

.sobre .txt-sobre h2{
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
  color: #E37239;
  display: block;

}

.sobre .txt-sobre p{
  margin: 20px 0;
  text-align: justify;
  font-size: 18px;
}

.btn-social button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #E37239;
  font-size: 10;
  cursor: pointer;
  margin: 0 7px;
  transition: .2s;
}

/*PORTIFOLIO*/

section.portifolio{
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #ffffff3e;
}

/*FORMULARIO*/

section.formulario{
  padding: 80px 4%;
}

form{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
}

form input, form textarea{
  width: 100%;
  background-color: #416b82;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #FFFF;
  font-size: 17px; 
}

form input::placeholder, textarea::placeholder{
  color: #E37239;
}

form textarea{
  resize: none;
  max-height: 200px;
}

form .btn-enviar{
  margin-top: 15px;
  text-align: center;
}

form .btn-enviar input{
  width: 120px;
  background-color: #E37239;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

/*RODAPE*/

footer{
padding: 60px 4%;
box-shadow: 0 0 40px 10px #ffffff3e;
}

footer .flex{
  justify-content: space-between;
}

footer .linefooter{
  padding: 20px 0;
}

.borda{
  border-top: 2px solid #E37239;
}

.logo-footer   img {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}

footer .linefooter p a{
  color: #fff;
}